<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="suite">
    <test verbose="2" preserve-order="true" name="DinhTester_testNG">
        <classes>
            <class name="tests.LoginTest"></class>
            <class name="tests.CustomerTest"></class>
            <class name="tests.OrderTest"></class>
            <class name="tests.ProductTest"></class>
        </classes>

    </test>
</suite>
